/* Universal  Styles*/
*{
    font-family: inter;
    margin: 0;
    padding: 0;
}
.raleway{
  font-family: "Raleway", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
body{
    overflow-x: hidden;
}

/* Shared Styles */
.btn{
    padding: 15px 25px;
    background: #4E47FF;
    border: none;
    color: white;
    border-radius: 10px;
}

/* Hero Section Styles */
.hero-section{
    width: 1366px;
    height: 645px;
    background-image: url(/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 110px;
}
.logo{
    font-size: 30px;
    color: #4E47FF;
    font-weight: 900;
}
.hero{
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.hero h1{
    font-size: 65px;
    font-weight: bold;
    width: 70%;
    text-align: center;
}

/* Action Section */

.action-section{
    padding: 110px;
}
.action-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-part1 div{
    width: 42%;
}
.action-part1 h4{
    font-size: 42px;
}
.action-part1 p{
    margin: 10px 0;
    font-size: 24px;
    color: rgb(119, 118, 118);
}
.action-part1 img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.action-part2{
    background: #E5E7FF;
    width: 100%;
    height: 206px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.action-part2 h3{
    font-size: 38px;
    font-weight: bold;
}
.numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}
.number-item h2{
    font-size: 80px;
    color: #4E47FF;
}
.number-item p{
    color: #0808088f;
}